.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}
.button1
{
  background-color: #212121;
  transition-duration: 0.4s;
}
.button1:hover {
  background-color: #f2f2f2;
  bordder: 2px;
  color: black;
}
table, tr, td {
  border: 1px solid black;
}
