a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: none;
  color: white;
}
.button {
  border: none;
  padding: 15px 32px;
  text-align: center;
  display: inline;
  font-size: 16px;
  border-radius: 4px;
}
.button1
{
  background-color: #212121;
  transition-duration: 0.4s;
}
table, tr, td {
  border: 1px solid black;
  border-collapse: collapse;
}
td
{
  padding: 20px;
}
.table
{
  margin-left: auto;
  margin-right: auto;
}
